<!DOCTYPE html>

<head>
  <title> Création de taches</title>
  <link rel="stylesheet" type="text/css" href="common_form.css">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
  <script src="../CONTROLLER/common_form.js"></script>
  <center>
    <p class="titre1"> <b>FORMULAIRE DE CRÉATION DES TACHES QUOTIDIENNES</b></p>
    <form id="formulaire" onsubmit="return envoyer_formulaire();"> <!-- action="/ma-page-de-traitement" method="post"> -->
      <ul>
        <p class="marge">
          <label for="id">ID&nbsp;</label> <!--Doit etre en autoincrément-->
          <input type="text" id="id_task" name="task_number" />
        </p>

        <p class="marge">
          <label for="title">Titre &nbsp;</label>
          <input type="text" id="title" name="task_title" />
        </p>

        <p class="marge">
          <label for="description">Description de la tache&nbsp;</label>
          <textarea id="libellé" name="task_details"></textarea>
        </p>

        <p class="merge">
          <label for="users">Assigné à</label>
          <input type="text" multiple name="user_task" id="user" list="user_list" size="64" />
          <datalist id="user_list"></datalist> 
        </p>

        <p class="marge">
          <label for="startDate">Date debut &nbsp;</label>
          <input type="date" id="dateDebut" name="task_startDate" />
        </p>

        <p class="marge">
          <label for="dueDate">Date fin &nbsp;</label>
          <input type="date" id="dateFin" name="task_dueDate" />
        </p>

        <p class="button">
          <input type="submit" value="Envoyer" />
        </p>

        <p class="button">
          <input type="reset" value="Annuler" id="reset" />
        </p>
        <p id="message" class="message"></p>
      </ul>
    </form>
  </center>

</body>

</html>
<!-- 
  - 
-->