<!DOCTYPE html>

<head>
  <title> Utilisateurs</title>
  <link rel="stylesheet" type="text/css" href="common_form.css">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
  <script src="../CONTROLLER/common_form.js"></script>
  <center>
    <p class="titre2"> <b>FORMULAIRE DE CRÉATION DES UTILISATEURS</b></p>
    <form id="formulaire" onsubmit="return get_users(); ">
      <ul>
        <p class="marge">
          <label for="id">Matricule&nbsp;</label>
          <input type="text" id="id_user" name="user" />
        </p>

        <p class="marge">
          <label for="title">Nom &nbsp;</label>
          <input type="text" id="nom" name="user_name" />
        </p>

        <p class="marge">
          <label for="title">Password &nbsp;</label>
          <input type="password" id="pass" name="user_pass" required/>
        </p>
        <p class="merge">
          <label for="auth">Role</label>
          <input type="text" multiple name="role" id="role_utilisateur" list="rules" size="64" />
          <datalist id="rules">
              <option value="ADMINISTRATEUR"></option>
              <option value="UTILISATEUR"></option>
          </datalist>
      </p>

        <p class="button">
          <input type="submit"></button>
        </p>

        <p id="message" class="message"></p>
      </ul>
    </form>
  </center>

</body>

</html>
<!-- 
  - 
-->