<!DOCTYPE html>

<head>
    <title> Authentification</title>
    <link rel="stylesheet" type="text/css" href="common_form.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <script src="../CONTROLLER/connexion.js"></script>
    <center>
        <p class="titre2"> <b>FORMULAIRE D'AUTHENTIFICATION</b></p>
        <form id="formulaire">
            <!--  onsubmit="return authentification(); "> -->
            <p class="marge">
                <label for="id">login&nbsp;</label>
                <input type="text" id="login" name="login" required />
            </p>

            <p class="marge">
                <label for="title">password &nbsp;</label>
                <input type="password" id="mdp" name="mdp" required>
            </p>
            <p class="merge">
                <label for="auth">Role</label>
                <input type="text" multiple name="role" id="role" list="rules_list" size="64" />
                <datalist id="rules_list">
                    <option value="ADMINISTRATEUR"></option>
                    <option value="UTILISATEUR"></option>
                </datalist>
            </p>

            <p class="button">
                <!-- <input type="submit" value="Valider"> -->
                <button type="button" onclick="authentification()">Valider</button>
            </p>

            <p id="message" class="message"></p>
            </ul>
        </form>
    </center>

</body>

</html>
<!-- 
  - 
-->